<h1>All Sales Data</h1>
<table>
    <tr>
        <th>InvoiceNo</th>
        <th>Image</th>
        <th>Manufacturer</th>
        <th>Class</th>
        <th>Sales in thousands</th>
        <th>Year Resale Value</th>
        <th>Vehicle Type</th>
        <th>Price in thousands</th>
        <th>Engine Size</th>
        <th>Horsepower</th>
        <th>Wheelbase</th>
        <th>Width</th>
        <th>Length</th>
        <th>Curb Weight</th>
        <th>Fuel Capacity</th>
        <th>Fuel Efficiency</th>
        <th>Latest Launch</th>
        <th>Power Performance Factor</th>
    </tr>
    {{#each salesData}}
    <tr>
        <td>{{this.InvoiceNo}}</td>
        <td><img src="{{this.image}}" alt="Image not found"></td>
        <td>{{this.Manufacturer}}</td>
        <td>{{this.class}}</td>
        <td>{{this.Sales_in_thousands}}</td>
        <td>{{this.__year_resale_value}}</td>
        <td>{{this.Vehicle_type}}</td>
        <td>{{this.Price_in_thousands}}</td>
        <td>{{this.Engine_size}}</td>
        <td>{{this.Horsepower}}</td>
        <td>{{this.Wheelbase}}</td>
        <td>{{this.Width}}</td>
        <td>{{this.Length}}</td>
        <td>{{this.Curb_weight}}</td>
        <td>{{this.Fuel_capacity}}</td>
        <td>{{this.Fuel_efficiency}}</td>
        <td>{{this.Latest_Launch}}</td>
        <td>{{this.Power_perf_factor}}</td>
    </tr>
    {{/each}}
</table>